<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Result</title>
        <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <h1>Submitted Info:</h1>
    <div class="frame">
        <div class="input">
            <p>Name:</p>
            <p>@Model.Name</p>
        </div>
        <div class="input">
            <p>Dojo Location:  </p>
            <p>@Model.Location</p>
        </div>
        <div class="input">
            <p>Favorite Language:  </p>
            <p>@Model.Language</p>
        </div>
        <div class="input">
            <p>Comments:  </p>
            <p>@Model.Comments</p>
        </div>
    </div>
</body>
</html>